@model IEnumerable<Frontend_ProInvest.Services.Backend.ModelsHelpers.InformacionContrato>

@{
    ViewData["Title"] = "SolicitudesInversiones";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center mb-4"> Solicitudes de inversión </h2>

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered small">
            <thead class="table-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FolioInversion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdInversionista)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UltimaActualizacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Importe)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FolioInversion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdInversionista)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UltimaActualizacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importe)
                        </td>
                        <td>
                            <a asp-controller="admin" asp-action="DetallesDeSolicitudDeInversiones" asp-route-folio="@item.FolioInversion">Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center text-black-50">
        No se pudo conectar al servidor, intentalo mas tarde.
    </div>
}

